:root {
    /* Define color variables */
    --border-gray: #ccc;
    --background-light-gray: #f0f0f0;
    --background-hover-gray: #d9d9d9;
    --patient-button-background: #e0e0e0; 
    --patient-button-hover: #c0c0c0;
    --cyan: rgb(0, 206, 161);
    --magenta: rgb(255, 0, 115);
    --tooltip-background: rgb(48, 231, 255);
    --font-family: 'Google Sans';

    --medication-color: #0091ff;
    --medication-background: #d0eaff;
    
    --lab-test-color: #00bd94;
    --lab-test-background: #ccfff5;

    --procedure-color: #ff003c;
    --procedure-background: #ffcbdf;

    --special-token-color: #ffa600;
    --special-token-background: #fff3dc;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

#patient-list {
    width: 18%;
    border-right: 1px solid var(--border-gray);
    padding: 20px;
    list-style-type: none;
    margin: 0;
}

#patient-list li {
    cursor: pointer;
    padding: 10px;
    background-color: var(--patient-button-background);
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: -5px;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: 10px;
    font-size: 18px;
}

#patient-list li:hover {
    background-color: var(--patient-button-hover);
}

#patient-list li.selected {
    background-color: var(--cyan);
    color: white;
}

#event-timeline {
    width: 100%;
    padding: 1px;
    position: relative;
}

.event-rect, .actual-rect {
    fill: var(--cyan);
}

.predicted-rect {
    fill: var(--magenta);
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 8px;
    font: 18px var(--font-family);
    font-weight: 600;
    color: black;
    border-radius: 8px;
    pointer-events: none;
    box-shadow: 0px 0px 5px #ffffff;
    border-width: 2px;
    border-style: solid;
    max-width: 520px;
    word-wrap: break-word;
}

.tooltip-wrapper {
    position: relative;
    padding-top: 5px;
}

.tooltip-type {
    position: absolute;
    top: -20px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    font-weight: bold;
    padding: 0 5px;
    white-space: nowrap;
}

.tooltip-description {
    font-size: 16px;
    margin-top: 8px;
    color: black;
    font-weight: normal;
}

.tooltip.medication {
    border-color: var(--medication-color);
    background: var(--medication-background);
}

.tooltip.medication .tooltip-type {
    color: var(--medication-color);
    background: var(--medication-background);
}

.tooltip.lab-test {
    border-color: var(--lab-test-color);
    background: var(--lab-test-background);
}

.tooltip.lab-test .tooltip-type {
    color: var(--lab-test-color);
    background: var(--lab-test-background);
}

.tooltip.procedure {
    border-color: var(--procedure-color);
    background: var(--procedure-background);
}

.tooltip.procedure .tooltip-type {
    color: var(--procedure-color);
    background: var(--procedure-background);
}

.tooltip.special-token {
    border-color: var(--special-token-color);
    background: var(--special-token-background);
}

.tooltip.special-token .tooltip-type {
    color: var(--special-token-color);
    background: var(--special-token-background);
}

.main-line {
    stroke: var(--cyan);
    stroke-width: 2;
}

.cutoff-line-up, .actual-line, .actual-line-vertical {
    stroke: var(--cyan);
    stroke-width: 2;
}

.cutoff-line-up, .cutoff-line-down {
    stroke-dasharray: 10, 10;
}

.cutoff-line-down, .predicted-line, .predicted-line-vertical {
    stroke: var(--magenta);
    stroke-width: 2;
}

.legend {
    font-size: 16px;
}

.actual-label, .predicted-label {
    font-size: 18px;
    font-weight: bold;
    fill: black;
    text-anchor: middle;
}

.event-label, .branch-label {
    font-size: 17px;
    fill: black;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-anchor: end;
}

.cutoff-label {
    text-anchor: middle;
    font-size: 16px;
}

#arrow {
    marker-end: url(#arrow);
}
